
table, td {border: 1px solid #333;}

thead {
    background-color: #333;
    color: #fff;}

p.secondthird {font-style: italic;
	       text-align: right;}

#smallimg {vertical-align: super;
	   margin: 5px;
	   padding: 10 px;}

p {border: 2px solid black;}

div#post {border:5px solid black;
          margin:5px;
          padding:5px;}

div#comment {border:1px solid black;
          margin:5px;
          padding:5px;}

div#commentForm {border:1px solid black;
		 margin:20px;
		 margin-left:42px;
		 margin-right:0px;
		 padding:20px;}

div.commentElement {padding:5px;}

#first {background-color: rgb(0,200,0);
	       font-family: verdana;}
